// Colours
$yellow: #fbffa7;
$red: #ff764d;
$pastel_blue: #b1c5ff;
$purple: #d5b3ff;
$green: #b6ffc0;
$blue: #0000ff;

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}

body{
    font-family: 'Futura';
    color: $blue;    
}

header{
    #primary_nav{
        display: flex;
        align-items: center;
        ul{
            list-style-type: none;
            display: flex;
            width: 100%;
            li {
                margin:0 0.5rem;
                &:nth-child(8){
                    margin-left:auto;
                    // margin-right:0;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
