// Colours
$yellow: #fbffa7;
$orange: #ff764d;
$pastel_blue: #b1c5ff;
$purple: #d5b3ff;
$green: #b6ffc0;
$blue: #0000ff;

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}

body{
    font-family: 'Futura';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: $blue;    
}

.text-regular{
    font-size: 16px;
}

.text-orange{color: $orange;}
.text-blue{color: $blue;}

header{
    .logo{
        display: block;
        width: 3.75em;
        height: 1.75em;
        margin-left:2.5rem;
    }
    a{
        text-decoration: none;
        color: black;
    }
    #primary_nav{
        display: flex;
        align-items: center;
        font-size:20px;
        border-bottom:1px solid #eee;
        ul{
            list-style-type: none;
            display: flex;
            width: 100%;
            align-items: center;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            li {
                &:first-child{
                    margin-left:0.625rem;
                }
                margin:0 1.25rem;
                &:nth-child(8){
                    margin-left:auto;
                }
            }
        }
    }
    #secondary_nav{
        ul{
            // display: flex;
            list-style-type: none;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            li{
                &:first-child{
                    margin-left:0;
                }
                display: inline-block;
                margin: 0 1.25rem;
            }
        }
    }
}

main{
    #hero{
        background-image: url('../img/header.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: calc(100vh - 120px);
        margin-left: 8.33vw;
        margin-right: 8.33vw;
        margin-bottom: 8.33vw;
        position: relative;
        .svg_logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 430px;
            width: 100%;
        }
    }
}
